<!-- auto complete example -->
<div class="container">
  <h2>auto complete example</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <!-- auto complete example -->

  <!-- -----------------------------------------------------------------
-----------------------------------------------------------------
-----------------------------------------------------------------
----------------------------------------------------------------- -->

  <!-- badge example -->
  <h2>badge example</h2>
  <div class="example-group">
    <h3>badge position</h3>
    <div class="single-example">
      <h4>overlap <span class="red">no</span></h4>
      <p>
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p>
    </div>
    <div class="single-example">
      <h4>overlap <span class="green">yes</span></h4>
      <p>
        <span matBadge="4" matBadgeOverlap="true">Text with a badge</span>
      </p>
    </div>
  </div>
  <div class="example-group">
    <h3>badge size</h3>
    <div class="single-example">
      <h4>large badge</h4>
      <p>
        <span matBadge="1" matBadgeSize="large">Text with large badge</span>
      </p>
    </div>
    <div class="single-example">
      <h4>medium badge</h4>
      <p>
        <span matBadge="2" matBadgeSize="medium">Text with large badge</span>
      </p>
    </div>
    <div class="single-example">
      <h4>small badge</h4>
      <p>
        <span matBadge="3" matBadgeSize="small">Text with large badge</span>
      </p>
    </div>
  </div>
  <div class="example-group">
    <h3>badge position</h3>
    <div class="single-example">
      <h4>badge position : top left [above before]</h4>
      <button
        mat-raised-button
        color="primary"
        matBadge="{{ badge_number }}"
        (click)="handleButtonClick()"
        matBadgePosition="above before"
        matBadgeColor="accent"
      >
        Action
      </button>
    </div>
    <div class="single-example">
      <h4>badge position : top right [above after]</h4>
      <button
        mat-raised-button
        color="primary"
        matBadge="{{ badge_number }}"
        (click)="handleButtonClick()"
        matBadgePosition="above after"
        matBadgeColor="accent"
      >
        Action
      </button>
    </div>
    <div class="single-example">
      <h4>badge position : bottom right [below after]</h4>
      <button
        mat-raised-button
        color="primary"
        matBadge="{{ badge_number }}"
        (click)="handleButtonClick()"
        matBadgePosition="below after"
        matBadgeColor="accent"
      >
        Action
      </button>
    </div>
    <div class="single-example">
      <h4>badge position : bottom left [below before]</h4>
      <button
        mat-raised-button
        color="primary"
        matBadge="{{ badge_number }}"
        (click)="handleButtonClick()"
        matBadgePosition="below before"
        matBadgeColor="accent"
      >
        Action
      </button>
    </div>
  </div>
  <div class="example-group">
    <h3>badge visibility</h3>
    <div class="single-example">
      <h4>badge hide|show toggle</h4>
      <button
        mat-raised-button
        matBadge="7"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
      >
        Hide
      </button>
    </div>
  </div>
  <div class="example-group">
    <h3>badge icon</h3>
    <div class="single-example">
      <h4>badge theming</h4>
      <mat-icon matBadge="15" matBadgeColor="warn">important_devices</mat-icon>
    </div>
  </div>
  <div class="example-group">
    <h3>accessability : matBadgeDescription</h3>
    <div class="single-example">
      <h3>accessability</h3>
      <mat-icon
        matBadge="3"
        matBadgeDescription="this are number of notifications"
        matBadgeColor="warn"
        >notification_important</mat-icon
      >
    </div>
  </div>

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- badge example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <h2>bottom sheet</h2>
  <div class="example-group">
    <h3>bottom sheet example</h3>
    <div class="single-example">
      <h4>bottom sheet</h4>
      <p>You have received a file called "cat-picture.jpeg".</p>

      <button mat-raised-button (click)="openBottomSheet()">Open file</button>
    </div>
  </div>

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- badge example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <h2>buttons example</h2>
  <div class="example-group">
    <h3>
      buttons example <span class="red">{{ button_text }}</span>
    </h3>
    <div class="single-example">
      <app-button-overview-example
        (buttonPushEvent)="handleButtonClick2($event)"
      ></app-button-overview-example>
    </div>
  </div>

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->
  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- single toggle buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <h2>single toggle buttons example</h2>
  <div class="example-group">
    <h3>single toggle button</h3>
    <div class="single-example">
      <h4>
        clicked button :
        <span id="your_text" class="green">your text</span>
      </h4>
      <app-single-toggle-buttons-example
        (buttonPushEvent)="handleButtonClick3($event)"
      ></app-single-toggle-buttons-example>
    </div>
  </div>

  <!-- single toggle buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <!-- multiple toggle buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->

  <h2>multiple toggle buttons example</h2>
  <div class="example-group">
    <h3>multiple toggle buttons</h3>
    <div class="single-example">
      <h4>
        list : [<span class="green">{{ ingredients }}</span
        >]
      </h4>
      <app-multiple-toggle-buttons-example
        (buttonEvent)="handleButtonClick4($event)"
      ></app-multiple-toggle-buttons-example>
    </div>
  </div>

  <!-- multiple toggle buttons example -->

  <!-- -----------------------------------------------------------------
  -----------------------------------------------------------------
  -----------------------------------------------------------------
  ----------------------------------------------------------------- -->
</div>
